  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 






  @import url("https://fonts.googleapis.com/css2?family-poppin&family=Roboto&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "poppins",sans-serif;
}




html{

    font-size: 62.5%;
}
body{
background:#fff;
height: 100vh;
overflow: hidden;
display: flex;
flex-direction: column;
min-height: 100vh;
margin: 0;

}
p{
 font-size: 20px;
}



header{

    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: #fff;
    color: #dfca12;
    box-shadow: 0.05rem 1.5rem rga(0,0,0.5);
    z-index: 1000;
}

header .logo{
    font-size: 30px;
    font-weight: 700;
    color: #BF7506;
    letter-spacing: 2px;
}
header .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
header .navbar a{
    font-size: 1.7rem;
    font-weight: 500;
    margin: 0 0.5rem;
    color: #dfca12;
    padding: 1rem 1.5rem;
}

header .navbar a:hover, .active{

   color: #BF7506 !important;
    transition: 0.6s;
}

header  .btn{
 
    font-size: 25px;
    cursor: pointer;
    display: none;
}

section{

    display: flex;
    flex-direction: column;
gap: 40px;
    height: 100vh;
  
 overflow-y: scroll;
  
}

section h2{
    color: #fff;
    font-size: 10rem;
    align-items: center;
    letter-spacing: 0.9rem;

}

nav a.clicked {
    color: #BF7506 !important;
    
  }
  .footer {
    margin-top: auto;
    background: #FFF3E8;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    padding: 15px 50px;
    box-shadow: 0.05rem 1.5rem rgba(0, 0, 0, 0.5);
    text-align: center;
}
