*{
  margin: 0;
  padding: 0;

}

@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

      :root {
        --error-color: #dc3545;
        --success-color: #28a745;
        --warning-color: #ffc107;
      }

      .form-field.error input {
        border-color: var(--error-color);
      }

      .form-field.success input {
        border-color: var(--success-color);
      }

      .form-field small {
        color: var(--error-color);
        font-size: 12px;
        margin-top: 0px;
        display: block;
      }


.register{
  width: 100%;
  display: grid;
grid-template-columns: 1fr 1fr;


 padding: 100px ;

gap: 10px;
height: auto;
}
.message{
  display: flex;
  justify-content: center;
}
.message h1{
  font-size: 64px;
  margin-top:20%;
}
.message h1 span{
  color:#BF7506 ;
}
  .login-form{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    background-color: #FFF3E8;
    padding: 40px;
    border-radius: 41px
  }

  .login-form form{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .login-form form button{
    width: 20%;
    align-self: center;
  }

  .login-form form label{
    font-size: 16px;
    font-weight: bold;
  }
  .login-form h1{

    font-size: 30px;
  }

  @media (max-width:800px){
  
    
    .message{
      margin-top:20px;
      justify-content: space-between;
      justify-items: center;
      font-size: 16px;
    }
    .login{
      display: flex;
      justify-content: center;
     justify-items: center;
     flex-wrap: wrap;
     overflow: scroll;
     padding: 100px ;
    }
    .login-form form button{
      width: 40%;
      margin-left: 10px;
      color: #000;
      align-self: center;
    }
  }



  .register-form {
    display: none;
    margin-top: 20px;
  }
  
  .hidden {
    display: none;
  }
  

  .register-link{

    font-size: 140%;
    font-weight:bold;
  }

  .register-form input,
  textarea {
    width: 400px;
    padding:  10px 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    color: black;
    border-radius: 5px;
  }

  .response{
    font-size: 20px;
    
  }
 