
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap');
html,body{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}
.container{

 
  width: 100%;
}

main{
  width: 100%;
}



/* navigations */
nav{
  position: fixed;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
  
    font-weight: bold;
   text-transform: uppercase;
  }
  nav ul li a{
    text-decoration: none;
    
    transition: 0.5s;
  }
  nav ul li a:hover{
    color: #c99300;
  }
 
  a{
    color: #dfca12;
  }
  .checkbtn{
    font-size: 30px;
    color: #c99300;
    float: right;

    cursor: pointer;
    display: none;
}
#check{
  display: none;
}




/* profile */

  .profile {
    display: flex;
    flex-wrap: wrap;
    padding: 80px 20px;
    margin-top: 120px;
    justify-content: space-between;
  
  
  }
  
  .profile img {
    flex: 4;
    height: 300px;
    object-fit: contain; 
    object-position: center top;
   
  }
  
  .profile .bio {
    flex: 6;
    padding-left: 20px;
  }
  
  .profile span{
    color:#BF7506 ;
    font-weight: bold;
  }
  
  

  
 
  
   /* .social-media */
    
   .social-media   ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
  }
  
  .social-media li {
    margin-right: 10px;
  }
  
  .social-media  a {
    text-decoration: none;
    color: #333;
  }
  
  .linkedin-icon {
    color: #007EBB; 
    width: 20px;
    height: 20px;
  }
  
  .github-icon {
    width: 20px;
    height: 20px;
    color: #3E75C3; 
  }
  
  .twitter-icon {
    color: #1DA1F2; 
    width: 20px;
    height: 20px;
  }
  
  .instagram-icon {
    width: 40px;
    height: 40px;
    overflow: hidden;
  }
  
  .instagram-icon img {
    width: 20px;
    height: 20px;
  }
  
  #cv-link {
    margin-left: 100px;
    color: #000;
    text-decoration: underline #BF7506; 
    margin-right: 10px;
  }

  



  

/* portfolio */
.portfolio {
  
  display: flex;
  width: 100%;
  gap: 20px;
  padding: 20px;
}


.portfolio .item  {
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 80%;
  height: 80%;
  border-radius: 8px;
  gap: 40px;


}
.portfolio .item .links{
  display: flex;
  gap: 40px;

}

.blog-post span{
  float: left;
  color: #777676;
}

.portfolio .item .portfolio-cover {
  width: 100%;
  height: 50%;
  border-radius: 8px;
  margin-bottom: 10px;
  object-fit: cover;
}
.portfolio h3{
  font-size: 24px;
  font-weight: bold;
  color: #BF7506;
 }
 .portfolio .item a:hover::after{
  width: 100%;

}
.portfolio h3 p{
  padding: 10px;
}

.portfolio p{
  font-size: 16px;
}



  

 
  
  
  .blog-container {
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  
  .blog-post {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  .blog-post span{
    float: left;
    color: #777676;
  }
  
  .blog-post img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  
 

   .blog-actions {
    display: flex;
    gap: 20px;
    position: relative;
  }

  .blog-actions a {
    position: relative;
    text-decoration: none;
  }

  .blog-actions a i {
    
    font-size: 24px;
  }

  .blog-actions a h4{
    display: none;
    background-color: #FFF3E8;
    border-radius: 10px;
    color: #444141;
    transition: 0.5ms;
  }

  .blog-actions a i:hover{

     h4{
      display: block;
    }
  }

  .badge {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #FFD43B;
    color: #fff;
    border-radius: 50%;
    padding: 5px 8px;
    font-size: 12px;
    font-weight: bold;
  }
  
  /* about */
 #about{
    margin: 20px;
 }
 
  
  .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .about-col-1{
    flex-basis: 35%;
  
  }
  .about-col-1 img{
    width: 100%;
    border-radius: 15px;
  }
  .about-col-2 {
    flex-basis: 60%;
  }
  
  .sub-title{ 
  
    font-size: 20px;
    font-weight: bold;
    color:black;
  }
  .name{ 
  
  font-size: 20px;
  font-weight: bold;
  color:#BF7506;
  }
  
  
  .tab-titles{
    display: flex;
    margin: 20px 0 40px;
  
  }
  .tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    color: #BF7506;
    cursor: pointer;
    position: relative;
  }
  
  

  
  .listss   ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  }
  
  .listss li {
  border: 2px solid #fcd000; 
  border-radius: 8px;
  padding: 10px;
  margin: 5px;
  }
  
  
  
  
          /* Pagination dots */
       
          .pagination {
            display: flex;
            margin-top: 80px;
            justify-content: center;
            align-items: center;
        }
        
        .dot {
          margin-top: 100px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #ddd;
            margin: 0 10px;
        }
        
        .dot.active-slide {
            background-color: yellow;
        }
  
        .blog-container{
          display: none;
      }
      .blog-container.active-container{
          display:grid;
      }
  
     
  
    
   /* .contact */
  
   .contact {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 40px;
    justify-content: space-between;
    
  }
  
  .contact-form {
    flex:1;
    padding: 20px 20px;
    box-sizing: border-box;
  }
  
  
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #E0DEDC;
  }
  .name-N{
    display: flex;
    position: absolute;
    margin-top: -10px;
    margin-left: 10px;
    background: #fff;
  }
  .name-E{
    display: flex;
    position: absolute;
    margin-top: -10px;
    margin-left: 10px;
    background: #fff;
  }
  .name-M{
    display: flex;
    position: absolute;
    margin-top: -10px;
    margin-left: 10px;
    background: #fff;
  }
  input,
  textarea {
    width: 400px;
    padding:  10px 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    color: black;
    border-radius: 5px;
  }
  
  .contact-button {
    background-color: white;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    float: right;
    cursor: pointer;
    position: relative;
    right: 240px;
  }
  
  .contact-button::after{
    content: '';
    width:0;
    height: 2px;
    position: absolute;
    background: #BF7506;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
  } 
  
  .contact-button:hover::after{
    width: 100%;
  
  }
  
  .footer-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-image img {
    height: 300px;
    width: 300px;
  }
  
  form.form-label{
  position: absolute;
  top: 3px;
  margin: 20px  20px 20px 20px;
  background-color: #fff;
  border: solid black;
  }
  
    
  .checkbtn{
    font-size: 30px;
    cursor: pointer;
    display: none; 
  }
  
  .footer {
    background-color: #FFF3E8;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    color: black;
    padding: 10px;
    text-align: center;
  }
  
  /* login */

  .login{
    width: 100%;
    display: flex;
    justify-content: space-between;
   justify-items: center;
   flex-wrap: wrap;
   margin-right: 120px;
   padding: 100px ;
  }

  .message{
    margin-top:80px;
    align-items: center;
    font-size: 32px;
  }
  .message h1 span{
    color: #BF7506;
  }

  .login-form{
    background:#FFF3E8 ;
    color: #000;
    padding: 40px;
    border-radius: 41px;
  }
  .login-form form{
    display: flex;
    flex-direction: column;
    color: #000;
  }
  .login-form form input button{
    justify-items: center;
  }
  .login-form input{
    background: #D9D9D9;
    border: solid black;
  }
  .login-form label{
    color: #000;
    font-weight: bold;
    font-size: 20px;
  }
  .login-form h1{
    padding: 40px;
    margin-left: 0;
  }
  .login-form button{
    margin-left: 120px;
    border: 20xp;
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
    border-radius: 41px;
    background: #FFB140;
    padding: 10px;
    width: 40%;
  }
 /* login */

  .login{
    width: 100%;
    display: flex;
    justify-content: space-between;
   justify-items: center;
   flex-wrap: wrap;
   margin-right: 120px;
   padding: 100px ;
  }

  .message{
    margin-top:80px;
    align-items: center;
    font-size: 32px;
  }
  .message h1 span{
    color: #BF7506;
  }

  .login-form{
    background:#FFF3E8 ;
    color: #000;
    padding: 40px;
    border-radius: 41px;
  }
  .login-form form{
    display: flex;
    flex-direction: column;
    color: #000;
  }
  .login-form form input button{
    justify-items: center;
  }
  .login-form input{
    background: #D9D9D9;
    border: solid black;
  }
  .login-form label{
    color: #000;
    font-weight: bold;
    font-size: 20px;
  }
  .login-form h1{
    padding: 40px;
    margin-left: 0;
  }
  .login-form button{
    margin-left: 120px;
    border: 20xp;
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
    border-radius: 41px;
    background: #FFB140;
    padding: 10px;
    width: 40%;
  }

  /* end of login */

  
  


  
  

  /* responsiveness */

  
  

  @media (max-width:800px){
  
    .checkbtn {
      display: block;
      position: relative;
      
    }

   header ul {
      display: none; 
      flex-direction: column;
      justify-content: space-between;
      position: absolute; 
      height: 40vh;
      color: #c99300;
      top: 60px; 
      left: -100px;
      right: 0;
      background: transparent;
     
    
    }
    .message{
      margin-top:20px;
      justify-content: space-between;
      justify-items: center;
      font-size: 24px;
    }
    .login{
      display: flex;
      justify-content: center;
     justify-items: center;
     flex-wrap: wrap;
     padding: 100px ;
    }

    ul.active {
      display: flex; 
    }
  

  .profile img{
    display: none;
  } 
  
  .portfolio {
 
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
  }
  .portfolio .item .imgs{
   width: 100%;
  }


  .blog-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .footer-image{
    display: none;
  }
  input,
  textarea {
    width: 300px;
    padding:  10px 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    color: black;
    border-radius: 5px;
  }


  /* login-responsiveness */

  .login{
    display: flex;
    justify-content: center;
   justify-items: center;
   flex-wrap: wrap;
   padding: 100px ;
  }

  .login-form button{
    margin-left: 90px;
    
  }
  .comments{
  justify-content: center;
  align-items: center;
  }
 
  
  }

   /* end of responsiveness */



